@import url('https://fonts.googleapis.com/css2?family=MuseoModerno&family=Quicksand:wght@400;600&display=swap');
:root {
  --seagreen: #2e8b57;
  --blue: #006e90;
  --textcolor: #f7f9f7;
  --red: #754043;
  --headline-font: 'MuseoModerno', cursive;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: var(--textcolor);
  background-color: var(--seagreen);
  margin: 0;
}

img {
  width: 200px;
  height: auto;
}

.main-grid {
  display: grid;
  grid-template-rows: 85px auto;
  height: 100vh;
}

.scrollable {
  overflow: scroll;
}

h1 {
  font-family: var(--headline-font);
  font-size: 1.5rem;
  text-align: center;
}
h2 {
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: center;
}

ul {
  margin: 0 auto;
  padding: 0;
}
li {
  list-style: none;
  margin: 10px 0;
}

a {
  color: var(--textcolor);
  text-decoration: none;
}

select {
  font-family: 'Quicksand', sans-serif;
}

.product-card {
  background: var(--blue);
  width: 80%;
  padding: 10px;
  border: solid 2px var(--red);
  border-radius: 5px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollfix::after {
  display: block;
  height: 15px;
  content: '';
}

.flex-row {
  display: flex;
  justify-content: space-evenly;
}

.form {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 150px;
  margin: 10px;
}

.button {
  background: var(--red);
  color: var(--textcolor);
  border: none;
}

.nav-item {
  width: 40px;
  padding: 2px;
  justify-content: center;
}
.nav-img {
  width: 35px;
  height: auto;
}

.text-justify {
  text-align: justify;
}

.p-10 {
  padding: 10px;
}

.p-20 {
  padding: 20px;
}

.m-10 {
  margin: 10px;
}
